* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Hind', Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
