* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Hind';
  src: url('/fonts/Hind/Hind-Bold.ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
:root {
  --black: #333;
  --bg-interior: #21242c;
  --white: #fff;
  --light-text: #dfdfdf;
  --bg: #08090b;
  --green: #26c119;
}
.green {
  color: var(--green);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Hind', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--white);
  background: var(--bg);
  min-height: 100vh;
}
main {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
}

article {
  border: 4px solid var(--bg-interior);
  border-radius: 20px;
  padding: 1rem 1.2rem;
  max-width: 50rem;
  width: min(100%, 50rem);
}
article > h1,
article > h2 {
  margin: 1.25rem 0;
}
article > p,
article > ul,
article > ol {
  color: var(--light-text);
}
.page-header {
  margin: 2rem 0 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-image-wrapper {
  margin-right: 1.5rem;
}
.user-image {
  border-radius: 50%;
}
.logo-wrapper {
  display: flex;
  margin: 0.5rem 0;
}
.logo-link {
  display: flex;
  margin-right: 8px;
}
.logo-link:hover .svg {
  fill: var(--green);
}
.svg {
  fill: white;
  width: 24px;
  height: 24px;
}
.bio {
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 4px;
}
.updated {
  color: var(--light-text);
}
.hr-line {
  border: 1px solid var(--green);
  width: 50%;
  margin-top: 0.5rem;
}
a {
  text-decoration: none;
  color: var(--green);
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
p {
  font-size: 1rem;
}
article > ol {
  list-style: decimal;
  list-style-position: inside;
}
article > ol > li::marker {
  font-weight: 700;
}
ul {
  list-style: none;
}
article > ul > li {
  position: relative;
  padding-left: 1.75em;
}
article > ul > li::before {
  content: '';
  background-color: var(--white);
  position: absolute;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}
li {
  margin: 0.5rem 0;
}
footer {
  margin: 2rem 0;
}
footer > p {
  text-align: center;
}
.footer-user-page-p-1 {
  margin-bottom: 0.4rem;
}
